.question-container {
  overflow-y: auto;
  height: 100%;

  .question-card {
    margin-bottom: 20px;
    &:hover {
      cursor: pointer;
    }

    & .question-group {
      display: flex;
      justify-content: space-between;    
    }

    & .question-item {
      margin: 5px;
    }
  }  
}
